.movieContainer header {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1rem;
}
.movieContainer {
    width: 69%;
    margin: 0 auto;
    padding: 0;
}

.movie-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap; /* Evita que los elementos se envuelvan */
    scrollbar-width: none;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.movie-list::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.movie-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
}



/* ______________IMAGE CONTAINER_________________ */
.movie-image {
    padding: 1rem;
    display: inline-block;
    text-align: center;
}
.movie-image img {
    max-width: 100%;
    max-height: 40vh;
    border-radius: 3.3vh;
}
.movie-image img:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

/* _________CONTENT CONTAINER______ */

.contentContainerMovies{
    width: 100%;
    color: white;
}
.contentContainerMovies h2 {
    font-size: 1rem;

}
.contentContainerMovies p{
    font-size: .9rem;

}


/* @keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
} */