.fatherContainer{
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
}
.childHeader{
    display: flex;
    justify-content: space-evenly;
}

.clientImg{
    display: flex;
    align-items: center;
    max-width: 12%;
}
.clientImg img{
    border-radius: 10vh;
    width: 100%;
}
.contentContainer{
    width: fit-content;
    height: fit-content;
}
.contentContainer p{
    font-size: .75rem;
}
.text1{
    opacity: 60%;
}

.notificationContainer{
    display: flex;
    align-items: center;
    padding: 2vw;
    padding-left: 4vw;
}
.iconContainer{
    border: 1px solid gray;
    border-radius: 2.5vw;
    padding: 1.5vw;
}
.notificationContainer i{
    font-size: 7vw;
    opacity: 60%;
}

