.movie-detailsFather{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerDetailsContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5vh;
  font-size: 2rem;
  margin-bottom: .5rem;
}
.headerDetailsContainer header{
  font-size: 1.2rem;
}

.imgContainerDetails{
  width: 90vw;
  height: 30vh;
}
.imgContainerDetails img{
  width: 100%;
  height: 100%;
  border-radius: 2vh;
}